.source-category__content {
    display: none;
}

.open .source-category__content {
    margin-top: 10px;
    overflow: hidden;
    max-height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 10px;
}

.sources {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    flex-direction: column;
    /* height: 120px; */
    align-items: flex-start;
    font:
        300 1em 'Fira Sans',
        sans-serif;
}
.carousel {
    position: relative;
    height: 330px;
}
.carousel_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 330px;
    transition: top 0.5s ease;
    overflow: hidden;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(15, 1fr);
    grid-template-rows: auto;
    transition: transform 0.7s ease;
}

.source-category__header {
    width: 150px;
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source-category__header:hover,
.source-category__header:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item {
    padding: 5px;
}
.source__item:hover,
.source__item:active,
.selected {
    color: #69db7e;
}
.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

.inactive {
    opacity: 0.5;
    pointer-events: none;
}

.button-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.left-button,
.right-button {
    padding: 5px 10px;
    cursor: pointer;
}
.hidden-sources {
    display: none;
}

.sources.buttons {
    flex-direction: row;
    margin-top: 20px;
}

@media (max-width: 650px) {
    .hidden-sources {
        display: block;
    }
    .hidden {
        display: none;
    }
}
.button-hide {
    background-color: transparent;
    color: #18aec8;
    border-color: #18aec8;
    margin: 10px;
    border-radius: 25%;
    font-size: 16px;
    padding: 5px 10px;
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease;
}

.left-button,
.right-button {
    background-color: transparent;
    color: #2592eb;
    border-color: #2592eb;
    margin: 10px;
    border-radius: 25%;
    font-size: 16px;
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease;
}

.left-button:hover,
.right-button:hover,
.button-hide:hover {
    border-color: #3fcc59;
    color: #69db7e;
    background-color: #3fcc59;
    color: #fff;
    transform: scale(1.1);
}
