body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    border-radius: 3px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
footer .copyright,
.year-of-creation {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.github-link a,
.github-link a:visited {
    text-decoration: none;
    color: #555;
}

.github-link a:hover,
.github-link a:active {
    color: #2592eb;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 650px) {
    main {
        flex-direction: column;
        /*align-items: center;*/
    }
}
