@use '../styles';

button {
  margin: styles.$padding-small styles.$padding-big styles.$padding-small 0;
}

form {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  gap: min(styles.$gap, 5%);

  max-width: 700px;
  margin: styles.$padding-small 0;
  padding: styles.$padding-big;
  border-radius: styles.$border-radius;

  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }

  &.form-add-car {
    border: 1px solid styles.$accent-text;
  }

  &.form-update-car {
    border: 1px solid styles.$accent-color;
  }

  button {
    max-width: styles.$button-max;
    padding: styles.$padding-small;
  }

  input {
    border: none;
    border-radius: inherit;
    background-color: styles.$text-color;

    &::placeholder {
      color: styles.$input-color;
      opacity: 0.7;
    }

    &:focus {
      outline: 2px solid styles.$accent;
      outline-offset: 2px;
    }

    &[type='color'] {
      padding: 0;
      border: none;
      border-radius: 0;
    }

    &[type='color' i]::-webkit-color-swatch-wrapper {
      padding: 0;
      border: none;
      border-radius: 0;
    }
  }
}

ul {
  font-size: styles.$car-header;

  .start-btn,
  .stop-btn {
    width: styles.$button-image;
    min-width: styles.$button-image;
    height: styles.$button-image;
    padding: 0;

    background-color: transparent;
  }
}

.pagination {
  button {
    min-width: styles.$button-width / 2;
    margin: styles.$padding-small;
  }
}

.finish-modal-overlay {
  position: fixed;
  z-index: 1000;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(0 0 0 / 30%);

  .finish-modal {
    max-width: 80%;
    padding: 20px;

    font-size: styles.$text-header;
    color: styles.$accent-text;
    text-align: center;

    background: transparent;

    .finish-modal-winner-image {
      width: 150px;
      height: auto;
      margin-bottom: styles.$padding-small;
    }
  }
}
