footer {
    margin: 0 auto;
    max-width: 1440px;
}

footer>div {
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 82px;
}

.cards_contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.cards_contacts .item {
    border-radius: 20px;
    background-color: var(--overlay-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 12px;
}

.cards_contacts a {
    color: var(--dark-color);
    text-decoration: none;
}

.cards_contacts .item:hover .action_large,
.cards_contacts .item:hover h3 {
    color: var(--primary-color);
    transition: 1s;
}


.cards_contacts .item h3,
.cards_contacts .item .action_large {
    margin: 0;

}

.cards_contacts .item img {
    width: 80px;
    height: 80px;
}

.media_and_copy {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.media .item {
    display: block;
    text-decoration: none;
}

.media_and_copy a {
    color: var(--dark-color);
}

.media_and_copy p {
    margin-bottom: 0;
}

.media_and_copy .caption:hover {
    color: var(--primary-color);
}

.media .item path {
    stroke: var(--dark-color);
}

.media .item:hover path {
    stroke: var(--primary-color);
    transition: all 0.3s ease;
}

@media screen and (max-width: 1190px) {
    .cards_contacts {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    footer>div {
        padding: 60px 8px;
    }

}

@media screen and (max-width: 900px) {
    footer>div {
        padding: 60px 8px;
    }

}