.gifts {
    background-color: var(--primary-color);
    max-width: 1440px;
    margin: 0 auto;


}

.snowballs {
    background-image: url('../images/gifts/bg-garland.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 60px 82px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.tab {
    padding: 12px 20px;
    border-radius: 12px;
    color: var(--static-white-color);
}

.active {
    background-color: rgba(255, 255, 255, 0.2) !important;
    pointer-events: none !important;
}

.snowballs h1 {
    color: var(--static-white-color);
    margin: 0;

}


.item img {
    height: 228px !important;
}

.item {
    background-color: var(--content-background-color) !important;
    border-radius: 20px !important;
    width: 310px !important;
    height: 342px !important;
    display: block !important;
}


.card_info {
    background-color: var(--static-white-color) !important;
    border-radius: 20px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    height: 112px !important;
    gap: 8px !important;
}

.card_info h4 {
    padding: 20px 0 0 20px !important;
    margin: 0 !important;
}

.card_info h3 {
    padding: 0 0 20px 20px !important;
    margin: 0 !important;
}

.work h4 {
    color: var(--tag-purple-color) !important;
}

.health h4 {
    color: var(--tag-green-color) !important;
}

.harmony h4 {
    color: var(--tag-pink-color) !important;
}

#cards_gifts {
    display: flex !important;
    gap: 12px !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}

.to-top {
    display: none;
}

@media screen and (max-width: 768px) {
    #to-top {
        display: block;
        border-radius: 100px;
        padding: 20px 28px;
        height: 36px;
        bottom: 12px;
        right: 12px;
        position: fixed;
        background-color: white;
        border: 1px solid #FF4646;
    }

}

@media screen and (max-width: 1190px) {
    .snowballs {
        padding: 60px 68px;
    }
}

@media screen and (max-width: 800px) {
    .snowballs {
        padding: 60px 8px;
    }
}

@media screen and (max-width: 400px) {
    .buttons {
        gap: 0;
    }

    .buttons .item {
        padding: 12px 8px;
    }
}

@media (hover:hover) {
    .tab:hover {
        background-color: rgba(255, 255, 255, 0.2);

    }

    .item:hover h3 {
        color: var(--primary-color);
        transition: 1s;
    }
}