.hero {
    background-color: var(--primary-color);
    margin: 0 auto;
    border-radius: 20px 20px 0px 0px;
    max-width: 1440px;
    border: none;

}

.ball {
    background-image: url('../images/home/bg-ball.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 524px;
    border: none;
}

.flakes {
    background-image: url('../images/home/bg-snow.png');
    background-size: cover;
    background-repeat: repeat;
    padding: 60px 8px;
}


.hero_container {
    color: var(--static-white-color);
    max-width: 446px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 48px 0;
}

.about,
.slider,
.best_gifts,
.CTA {
    background-color: var(--primary-color);
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 82px;
}

.about_content {
    display: flex;
    background-color: var(--static-white-color);
    border-radius: 20px;
    justify-content: space-between;

}

.about_text {
    max-width: 426px;
    margin: 100px 60px;
}

.about_text .caption {
    color: var(--primary-color);
}

.about_content img {
    border-radius: 20px;
    max-width: 638px;
}

.slider {
    text-align: center;
    color: var(--static-white-color);
    padding: 60px 0 60px 82px;
}

.slider_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px
}

.slider_cards .item {
    gap: 20px;
}

.slider_cards img {
    width: 200px;
    border-radius: 20px;

}

.buttons {
    padding: 20px 82px;
    display: flex;
    gap: 20px;
    justify-content: flex-end
}

.buttons .item {
    padding: 15px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    border: 1px solid var(--static-white-color);

}

.no-click {
    pointer-events: none;
    opacity: 0.4;
}

.buttons .item:hover {
    background-color: var(--static-white-color);
    stroke: #FF4646;

}

.best_gifts .caption,
.best_gifts h2 {
    color: var(--static-white-color);
}

.gift_items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 12px;
}

.card {
    background-color: var(--content-background-color);
    border-radius: 20px;
    width: 310px;
    height: 342px;
}

.gift_items img {
    height: 230px;
}

.card_info {
    padding: 20px;
    background-color: var(--static-white-color);
    border-radius: 20px;

}



#card1 h4,
#card3 h4 {
    color: var(--tag-purple-color);
}

#card2 h4 {
    color: var(--tag-green-color);
}

#card4 h4 {
    color: var(--tag-pink-color);
}


.santa_deer {
    background-image: url('../images/home/bg-forest.png');
    background-size: cover;
    background-repeat: repeat;
}

.CTA_content {
    color: var(--static-white-color);
    width: 426px;
    margin: 0 auto;
    text-align: center;
}

.timer {
    background-color: var(--static-white-color-40);
    display: flex;
    justify-content: center;
    height: 72px;
    border-radius: 20px;
}

.timer div {
    width: 80px;
    padding: 12px;
}

.timer div h2,
.timer div h4 {
    margin: 0;
}