.hero {
    background-color: var(--primary-color);
    margin: 0 auto;
    border-radius: 20px 20px 0px 0px;
    max-width: 1440px;
    border: none;


}

.ball {
    background-image: url('../images/home/bg-ball.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 524px;
    border: none;
}

.flakes {
    background-image: url('../images/home/bg-snow.png');
    background-size: cover;
    background-repeat: repeat;
    padding: 60px 8px;
}

.hero_container {
    color: var(--static-white-color);
    max-width: 426px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 48px 0;
}

.about {
    background-color: var(--primary-color);
    max-width: 1440px;
    margin: 0 auto;
    padding: 82px 60px;
}

.about_content {
    display: flex;
    background-color: var(--static-white-color);
    border-radius: 20px;
    justify-content: space-between;

}

.about_text {
    max-width: 426px;
    margin: 100px 60px;
}

.about_text .caption {
    color: var(--primary-color);
}

.about_content img {
    border-radius: 20px;
    max-width: 638px;
}