main {
    background-color: var(--primary-color);
    margin: 0 auto;
    border-radius: 20px;
    max-width: 1440px;
    padding: 0;
    border: none;
    padding: 0;
}

.Hero {
    background-image: url('../images/home/bg-ball.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 524px;
    border: none;
}

.flakes {
    background-image: url('../images/home/bg-snow.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    border: none;
    background-position: center;
}


.hero_container {
    color: var(--static-white-color);
    max-width: 446px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 108px 0;
}

.About,
.Best_Gifts,
.Slider {
    background-color: var(--primary-color);
    padding: 0;
    margin: auto;
}

.About .flakes {
    padding: 60px 82px;
}

.about_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--static-white-color);
    border-radius: 20px;
    justify-content: space-between;
    overflow-y: hidden;
    align-items: center;
}

.about_text {
    max-width: 426px;
    margin: 0 60px;
    padding: 0;
}

.about_text .caption {
    color: var(--primary-color);
}

.about_image {
    background-image: url('../images/home/santa.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 528px;
}

.Slider {
    text-align: center;
    padding: 0;
    color: var(--static-white-color);
    overflow-x: hidden;

}

.Slider .flakes {
    padding: 30px 82px;
}

.Slider .caption {
    margin: 30px 0 0;
    padding: 0;
}

.Slider h2 {
    padding: 12px 0;
}

.slider_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

.slider_cards .item {
    gap: 20px;
    padding-top: 8px;
}

.slider_cards img {
    width: 200px;
    border-radius: 20px;

}

.buttons {
    padding: 20px 0;
    display: flex;
    gap: 20px;
    justify-content: flex-end
}

.buttons .item {
    padding: 15px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    border: 1px solid var(--static-white-color);
    stroke: var(--static-white-color);

}

.no-click {
    pointer-events: none;
    opacity: 0.4;
}

.buttons .item:hover {
    background-color: var(--static-white-color);
    stroke: var(--primary-color);
    transition: 1s;

}

.Best_Gifts .flakes {
    padding: 60px 82px;
}

.Best_Gifts .caption,
.Best_Gifts h2 {
    color: var(--static-white-color);
    text-align: center;
}


.Best_Gifts h2,
.Slider h2,
.timer div h2,
.timer div h4,
.CTA h2 {
    margin: 0;
}

.gift_items {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 310px);
    justify-content: center;
    gap: 12px;
}

.card {
    background-color: var(--content-background-color);
    border-radius: 20px;
    width: 308px;
    height: 342px;
    display: block;

}

.card:hover h3 {
    color: var(--primary-color);
    transition: 1s;
}

.gift_items img {
    height: 228px;
}

.card_info {
    background-color: var(--static-white-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 8px;

}

.card_info h3,
.card_info h4 {
    padding: 0;
    margin: 0;
}



#card1 h4,
#card3 h4 {
    color: var(--tag-purple-color);
}

#card2 h4 {
    color: var(--tag-green-color);
}

#card4 h4 {
    color: var(--tag-pink-color);
    color: var(--tag-pink-color);
}

.CTA {
    background-image: url('../images/home/bg-forest.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    border: none;
    border-radius: 0 0 20px 20px;

}

.CTA .flakes {
    padding: 60px 82px;
}

.CTA_content {
    color: var(--static-white-color);
    max-width: 426px;
    margin: 60px auto;
    padding: 60px 0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.CTA_content .separator {
    width: 0px;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0;
    margin-top: 20px;
}

.CTA_content .caption {
    margin: 0;
}

.timer {
    background-color: var(--static-white-color-40);
    display: flex;
    justify-content: center;
    height: 52px;
    width: 320px;
    border-radius: 20px;
    padding: 8px 12px 12px;
    margin-top: 8px;
}

.timer div {
    width: 80px;
}



@media screen and (max-width: 800px) {

    .buttons {
        padding: 20px 0;
    }

}

@media screen and (max-width: 1190px) {

    .About .flakes,
    .Best_Gifts .flakes {
        padding: 60px 68px;
    }

    .Slider .flakes {
        padding: 60px 68px;
    }

}

@media screen and (max-width: 800px) {

    .About .flakes,
    .Best_Gifts .flakes {
        padding: 60px 8px;
    }

    .Slider .flakes {
        padding: 30px 8px;
    }

}

@media screen and (max-width: 745px) {
    .about_content {
        grid-template-columns: 1fr;
        grid-template-rows: 352px 528px;
    }

    .about_text {
        margin: 0 20px;
    }

    .Hero {
        height: 572px;
    }

    .CTA .flakes {
        padding: 60px 8px;
    }

}