.modal_card {
    border-radius: 20px !important;
    background-color: var(--content-background-color) !important;
    height: 520px !important;
    width: 400px !important;
    margin: 0 auto;
    position: fixed;
    z-index: 10;
}



.overlay {
    position: fixed;
    background-color: rgba(24, 28, 41, .8);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 9;
    align-items: center;
    justify-content: center;
    display: flex;
}

.closed {
    display: none;
}

.modal_hide {
    overflow: hidden !important;
}



.modal_card .modal_image {
    border-radius: 20px 20px 0 0 !important;
    max-width: 400px !important;
    height: 230px !important;
    display: flex;
    justify-content: center;
}

.modal_image img {
    height: 230px;
}


.work .modal_info h4 {
    color: var(--tag-purple-color) !important;
}

.health .modal_info h4 {
    color: var(--tag-green-color) !important;
}

.modal_info h4 {
    padding: 0 !important;
    margin: 0 !important;
}

.modal_info h3 {
    padding: 0 !important;
    margin: 0 !important;
}

.harmony .modal_info h4 {
    color: var(--tag-pink-color) !important;
    font-weight: 400;
}

#rating {
    color: black !important;
}

.snow_rating {
    gap: 8px;
    display: flex;
}

.modal_info {
    background-color: var(--static-white-color) !important;
    border-radius: 20px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 8px !important;
    padding: 20px 20px 0px 20px;
    height: 284px;
}

.flake {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.chacteristic {
    display: grid;
    grid-template-columns: 184px 40px 112px;
    column-gap: 12px;
}

.close_btn {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 14;
}