@use '../styles.scss';

caption {
  text-align: left;
}
.winners-table {
  width: 100%;

  border: none;
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  margin: 0;
  padding: styles.$padding-small;

  border: 1px solid styles.$text-color;

  text-align: center;
}

td.CAR {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  padding: 0 styles.$padding-big 0 0;
}

.table-content tr:nth-child(even) {
  background-color: styles.$input-color;
}

.table-content tr:nth-child(odd) {
  background-color: styles.$button-color;
}
