.game-page-btn{
    display: flex;
    flex-direction: column;
}

.game-page{
    height: 404px;    
}

.game-header{
    text-align: right;
    margin-right: 0;
}

.answer-block{
    width: 160px;
    text-align: left;
    margin: 0 auto;
    font-weight: 700;
}

.answer-block__output{
    display: inline-block;
}