.overlay {
    position: fixed;
    background-color: rgba(24, 28, 41, .8);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 9;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
}

.error-form,
.win-form {
    background-color: var(--background-color);
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}


.error-form__close-btn,
.win-form__close-btn{
    margin: 10px;
    align-self: flex-end;
    width: 24px;
    height: 24px;
}

