.start-page{
    height: 382px;
}

.start-page__header{
    margin: 20px auto;
    font-family: "Rubik Puddles", serif;
    font-size: 48px;
}
@media (max-width: 480px) {
    .start-page__header {
        font-size: 36px;
    }
}

.choose-level-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px auto;
}

.choose-level-form__item{
    display: flex;
    flex-direction: row-reverse;
    margin: 5px 10px;
    font-weight: 600;
}

.choose-level-form__legend{
    margin: 10px 20px;
}