*{
    --btn-text-color: #ffffff;
    --background-color: #dfe8df;
    --btn-text-color2: #c0d2c0;
    --color-primary-a30: #a1bca2;
    --color-primary-a40: #83a684;
    --color-primary-a50: #659168;
    --color-primary-a60: #517253;
    --color-btn: #3d553f;
    --color-text: #2b392b;
    --color-text2: #192019;   
    --highlight-color: #91658E;
    --highlight-color2 :#463A55;
    --active: #658e91;
    margin: 0 20px;
    font-weight: 400;
    font-style: normal;
    font-family: "Indie Flower", serif;
}

.game-area{
    background-color: var(--background-color);
    margin: 0 auto;
    max-width: 1440px;
    text-align: center;
    color: var(--color-text);
    padding: 30px;
}

