@use '../../../../style.scss';

.form-view,
.paste-dialog-view {
  background-color: style.$additional-color;
  border-radius: style.$border;
  border: 2px solid style.$gray-additional;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 1001;
  width: 80%;
  max-width: 500px;
}

.form__button_close,
.form-view__close-button {
  align-self: flex-end;
}

.form-view__close-button {
  padding: 4px 6px;
}

.form__button_close,
.confirm-button,
.close-button {
  padding: style.$small-padding 20px;
  margin: 10px 30px;
}

.paste-dialog-view__area {
  width: 90%;
  height: 200px;
  font-family: Arial, sans-serif;
  border-radius: style.$border;
  padding: style.$small-padding;
  resize: vertical;
  outline: none;
}

.button_list {
  margin: auto;
}
