@use '../../../../style.scss';

.form-view,
.paste-dialog-view {
  z-index: 1001;

  display: flex;
  flex-direction: column;

  width: 80%;
  max-width: 500px;

  padding: 20px;

  border: 2px solid style.$gray-additional;
  border-radius: style.$border;

  background-color: style.$additional-color;
}
.form-view {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__button_close,
.form-view__close-button {
  align-self: flex-end;
}

.form-view__close-button {
  padding: 4px 6px;
}

.form__button_close,
.confirm-button,
.close-button {
  padding: style.$small-padding 20px;
  margin: 10px 30px;
}

.paste-dialog-view__area {
  width: 90%;
  height: 200px;
  padding: style.$small-padding;

  border-radius: style.$border;

  font-family: Arial, sans-serif;

  resize: vertical;
  outline: none;
}

.button_list {
  margin: auto;
}
