@use "sass:color";

$black-field: rgb(106, 15, 15);
$white-field: bisque;
$cell-unknown-color: cornflowerblue;

body {
  max-width: 1440px;
  box-sizing: content-box;
  font-size: 14px;
}

.field {
  max-width: 40%;

  &__additional {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    border: none;

    & .field__attempt {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(5, 21px);
      align-items: start;
    }
  }
}

.game-field {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  //border: 2px solid blue;
}

.field__attempt {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  //align-items: stretch;
  justify-content: end;

  &__top-attempt {
    //height: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-left: 1px solid black;
    justify-content: flex-end;
    width: 19px;

    &__cell {
      text-align: center;
      border: none;
    }
  }

  &__left-attempt {
    //width: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    gap: 10px;
    border-top: 1px solid black;
    justify-content: flex-end;

    &__cell {
      height: 20px;
      text-align: center;
      border: none;
    }
  }
}

.game-field__cell {
  /*@extend %base-shared;*/

  height: 20px;
  width: 20px;
  border: none;
  border-top: 1px solid black;
  border-left: 1px solid black;

  &_unknown {
    background-color: $cell-unknown-color;

    &:hover {
      background-color: lighten(cornflowerblue, 20%);
    }
  }

  &_checked {
    background-color: blue;
  }
  &_crossed {
    background-color: crimson;
  }

  &_black {
    background-color: $black-field;
  }

  &_white {
    background-color: $white-field;
  }
}

/*
.gameField__cell_black {
  @extend %base-shared;
  background-color: $black-field;
}

.gameField__cell_white {
  @extend %base-shared;
  background-color: $white-field;
}*/
