@use "sass:color";

.light-mode {
  $background-color: #ffffff;
  $color-lines: #865090;
  $text-color: #333333;
  $checked-color: #7a1d8a;
  $hover-cells: #f3e5f5;
  $empty-cells: rgba(255, 193, 7, 0.3);
  $button-color: #e0e0e0;
  $button-text: #7b1fa2;
  $cards-color: #ecd8f2;
  $record-color: #f3d3b8;

  background-color: $background-color;
  color: $text-color;

  .win-form {
    background-color: $cards-color;
  }

  .game-field__cell {
    border-color: $color-lines;

    &_unknown {
      background-color: $empty-cells;
      opacity: 0.7;

      &:hover {
        background-color: $hover-cells;
      }
    }

    &_checked {
      background-color: $checked-color;
    }
    &_crossed {
      background-color: $empty-cells;
      opacity: 0.8;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: auto;
      background-image: url(../dist/materials/icons/cross_dark.png);
    }

    &_black {
      background-color: $checked-color;
    }

    &_white {
      background-color: $empty-cells;
    }
  }

  button {
    background-color: $button-color;
    color: $button-text;
    //font-family: "Grenze Gotisch", serif;
  }

  .field__attempt {
    &__top-attempt {
      border-color: $color-lines;
    }
    &__left-attempt {
      border-color: $color-lines;
    }
  }

  .nonograms-list__tabs__ {
    &easy {
      background-color: $cards-color;
    }
    &medium {
      background-color: $cards-color;
    }

    &hard {
      background-color: $cards-color;
    }
  }

  .nonograms-list__records {
    background-color: $record-color;
  }

  .card {
    background-color: $cards-color;
  }

  .card__preview {
    background-color: color.grayscale($cards-color);
  }
}
