@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

$background-color: #1e1e1e;
$text-color: #f8c4b1;
$text-color-button: #bdbdbd;
$button-color: #2c3e50;
$button-hover: #3498db;
$button-disable: #a7a7a9;
$input-color: #343434;
$accent: #ffd700;
$accent-text: #9d2004;
$accent-color: #e1452d;
$padding-big: 30px;
$padding-small: 10px;
$gap: 40px;
$border-radius: 10px;
$text-header: 36px;
$car-header: 24px;
$car-info: 18px;
$button-text: 18px;
$info-text: 18px;
$button-width: 80px;
$button-size-pagination: 36px;
$button-height: 36pxpx;
$button-image: 24px;
$button-max: 120px;

@mixin teko($weight: 400) {
  font-family: 'Teko', sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

$teko-weights: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
);

@each $name, $weight in $teko-weights {
  .teko-#{$name} {
    @include teko($weight);
  }
}

:root {
  @include teko(400);
  font-size: $info-text;
  margin: 0 auto;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

body {
  padding: $padding-big;
  background-color: $background-color;
  color: $text-color;
}

button {
  min-width: $button-width;
  height: $button-height;
  border-radius: $border-radius;
  border: none;
  background-color: $button-color;
  color: $text-color-button;
  padding: $padding-small;
  gap: $gap;

  &:hover {
    background-color: $button-hover;
  }

  &:disabled,
  &.disable {
    background-color: $button-disable;
    opacity: 0.7;
  }
  img {
    width: $button-image;
    background-color: transparent;
    padding: 0;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
