@use '../../../style.scss';
$width80: max(150px, 80%);

.not-found {
  width: $width80;
  margin: style.$big-padding auto;
  img {
    width: calc(70% - 30px);
    margin: 0 calc(15% + 15px);
  }
  .not-found__text {
    align-self: center;

    width: 250px;
    margin: 40px auto;

    font-size: style.$info-size;
  }
  .not-found__button {
    transform: translateX(20vw);
    margin: 0 20px;
  }
}
