@use '../../style.scss';

$breakpoint1: 850.1px;
$breakpoint2: 500.1px;

.list__element {
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr;
  gap: style.$gap-size;
  align-items: center;

  width: 90%;
  margin: auto;
  padding: style.$small-padding;
  border-radius: style.$border;

  background-color: style.$secondary-accent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  color: style.$text-on-accent;

  .list__element__id {
    padding: 10px 10px 10px 20px;

    border-radius: style.$border;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: $breakpoint2) {
    grid-template-columns: 20px 8fr 80px 40px;
  }

  input {
    padding: 10px;

    border: 1px solid style.$light-gray;
    border-radius: style.$border;

    background-color: style.$dark-accent;
    color: style.$light-additional;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &[type='number'] {
      max-width: 80px;
    }
  }
}
